* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #050505;
  color: white;
  min-height: 100vh;
}

h1,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}
.background {
  position: fixed;
  inset: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

  opacity: 0.03;
  z-index: 50;
}

.sphere {
  position: absolute;
  border-radius: 50%;
  filter: blur(60px);
}

.sphere-1 {
  width: 40vw;
  height: 40vw;
  background: linear-gradient(
    40deg,
    rgba(219, 0, 110, 0.8),
    rgba(182, 73, 0, 0.4)
  );
  top: -10%;
  left: -10%;
}

.sphere-2 {
  width: 45vw;
  height: 45vw;
  background: linear-gradient(
    240deg,
    rgba(72, 0, 255, 0.8),
    rgba(0, 183, 255, 0.4)
  );
  bottom: -20%;
  right: -10%;
}

.sphere-3 {
  width: 30vw;
  height: 30vw;
  background: linear-gradient(
    120deg,
    rgba(133, 89, 255, 0.5),
    rgba(98, 216, 249, 0.3)
  );
  top: 60%;
  left: 20%;
}

.banner {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding-top: 35vh;
  position: relative;
  z-index: 0;
}
.banner-content h1 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.2em;
  text-shadow: 0 0 20px rgba(255, 0, 128, 0.5);
}

.banner-content p {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.scroll-down {
  position: absolute;
  top: auto;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}
.scroll-down span:nth-child(2) {
  animation-delay: -0.2s;
}
.scroll-down span:nth-child(3) {
  animation-delay: -0.4s;
}
.scroll-down span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.intro {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.divider {
  height: 1.5px;
  width: 50%;
  margin: 30px auto;
  background: linear-gradient(to right, transparent, #e21c3b, transparent);
}
.songs {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.song-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.song-card:hover {
  transition: all 0.5s ease-in-out;
}
.song-card.song1:hover {
  border: 1px solid #fa8d9c;
}
.song-card.song2:hover {
  border: 1px solid #db2121;
}
.song-card.song3:hover {
  border: 1px solid #8d98fa;
}
.song-card.song4:hover {
  border: 1px solid #ffc670;
}
.song-info,
.player {
  flex: 1;
}
.tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
}
.tag span {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0.25rem 0.75rem;

  border-radius: 25px;
}
.tag h5 {
  font-weight: 500;
  letter-spacing: 0.05em;
}
.tag-pink span {
  color: #fecaca;
  background-color: rgba(255, 87, 166, 0.3);
  border: 1px solid rgba(244, 114, 182, 0.2);
}
.tag-pink h5 {
  color: #ffb2bc;
}
.tag-red span {
  color: #fccac9;
  background-color: rgba(255, 54, 54, 0.3);
  border: 1px solid rgba(244, 114, 182, 0.2);
}
.tag-red h5 {
  color: #f77373;
}
.tag-blue span {
  color: #e2e6ff;
  background-color: rgba(122, 142, 255, 0.3);
  border: 1px solid rgba(201, 192, 255, 0.2);
}
.tag-blue h5 {
  color: rgb(95, 148, 255);
}
.tag-yellow span {
  color: #feecca;
  background-color: rgba(253, 219, 145, 0.3);
  border: 1px solid rgba(255, 187, 0, 0.2);
}
.tag-yellow h5 {
  color: rgb(255, 217, 94);
}
.song-card h3 {
  font-size: 2.1rem;
  font-weight: 600;
  margin: 1rem 0;
}
.artist {
  font-size: 1.1rem;
  color: #cecece;
}
.description {
  height: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
.description.pink {
  border-left: 2px solid #fa8d9c;
}
.description.red {
  border-left: 2px solid #db2121;
}
.description.blue {
  border-left: 2px solid #8d98fa;
}
.description.yellow {
  border-left: 2px solid #ffc670;
}

.mood-title {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.song-blurb {
  line-height: 1.5;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
