* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #050505;
  color: white;
  min-height: 100vh;
}

h1,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
.background {
  position: fixed;
  inset: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVRYbE7o52l6pW251I+i9Xw6v/P5/L5/j6s/X7P//q/9/b1D0f576/T9/s/y/l+t+f8t2/+u9f8j0v+x+f93+v/5///j/f/o/v/s//8XJ7tOAAAAq0lEQVRYhe3SywrCIBCA4f2/77/JbZ23z15Cgq9I92R2iYt6W2k/Oa/Lw/x6s/X7P//q/9/b1D0f576/T9/s/y/l+t+f8t2/+u9f8j0v+x+f93+v/5///j/f/o/v/s//8XJ7tO2+jO7x+Qf18qf70Lh8n92D/2P9y1074t0v70f4q9+p/h3j+K1d79F/1Kq/n/fN9291D7l9T/L5/gAAAAAASUVORK5CYII=");

  background-size: 150px 150px;
  opacity: 0.15;
  z-index: 10;
}

.sphere {
  position: absolute;
  border-radius: 50%;
  filter: blur(60px);
}

.sphere-1 {
  width: 40vw;
  height: 40vw;
  background: linear-gradient(
    40deg,
    rgba(255, 0, 128, 0.8),
    rgba(255, 102, 0, 0.4)
  );
  top: -10%;
  left: -10%;
}

.sphere-2 {
  width: 45vw;
  height: 45vw;
  background: linear-gradient(
    240deg,
    rgba(72, 0, 255, 0.8),
    rgba(0, 183, 255, 0.4)
  );
  bottom: -20%;
  right: -10%;
}

.sphere-3 {
  width: 30vw;
  height: 30vw;
  background: linear-gradient(
    120deg,
    rgba(133, 89, 255, 0.5),
    rgba(98, 216, 249, 0.3)
  );
  top: 60%;
  left: 20%;
}

.banner {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding-top: 35vh;
  position: relative;
  z-index: 0;
}
.banner-content h1 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.2em;
  text-shadow: 0 0 20px rgba(255, 0, 128, 0.5);
}

.banner-content p {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.scroll-down {
  position: absolute;
  top: auto;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}
.scroll-down span:nth-child(2) {
  animation-delay: -0.2s;
}
.scroll-down span:nth-child(3) {
  animation-delay: -0.4s;
}
.scroll-down span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
